@{ Layout = "/Views/Shared/_Layout.cshtml"; }

<div class="container">
	<div class="soft-hero">
		<h1>ASP.NET vNext &ndash; Hosted Anywhere</h1>
		<p class="lead">
			This is a website that's been written using ASP.NET vNext.<br />
			The code driving it has never touched a Windows PC.
		</p>
	</div>
</div>